<!-- All icons were obtained from https://icons8.com/. -->
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    body {
      font-family: 'Poppins', sans-serif;
      background: #1D3557;
    }

    .functions {
      background: white;
      height: 6em;
      width: 53em;
      margin: 30px auto;
      border-radius: 20px;
      padding: 15px;
      padding-left: 1%;
      padding-bottom: 2%;
      margin-bottom: 68em;
    }

    .function-icon {
      height: 7em;
      width: 7em;
      margin: 3% 10px;
      margin-top: 0;
      padding: 5px;
      border-radius: 20px;
    }

    .nav-bar {
      background: #A8DADC;
      height: 10em;
      width: 100%;
      padding: 0 20%;
      position: fixed;
      display: fixed;
    }

    .nav-bar-icon {
      background: #457B9D;
      height: 7em;
      width: 7em;
      margin: 3% auto;
      padding: 5px;
      border-radius: 20px;
    }

    .paint {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-77%, -88%);
      width: 650px;
      height: 650px;
    }

    #myCanvas {
      margin-top: 1.5em;
    }
  </style>
</head>

<body>
  <div class="functions">
    <div class="row">
      <div class="function-icon">
        <input style="margin-left: 50px" type="radio" name="tool" id="pen-pen" checked>
        <label for="pen-pen">
          <img style="width: 30px; height: 30px" src="https://img.icons8.com/ios/50/000000/pencil--v1.png" />
        </label>

        <input style="margin-left: 50px" type="radio" name="tool" id="pen-brush">
        <label for="pen-brush">
          <img style="width: 30px; height: 30px" src="https://img.icons8.com/material/24/000000/paint--v1.png" />
        </label>
      </div>

      <div class="function-icon" style="margin-left: 2.5em">
        <label for="pen-thickness" style="font-size: 30px">Thickness</label>
        <input type="range" id="pen-thickness" min="1" max="40">
      </div>

      <div class="function-icon">
        <label for="pen-color" style="font-size: 30px; margin-left: 50px; margin-top: 0px">Color</label>
        <input style="margin-left: 50px; margin-bottom: 100px; border-radius: 20%" type="color" id="pen-color" value="#E63946">
      </div>

      <div class="function-icon" style="margin-left: 3em">
        <img style="width:50px; height:50px;" src="https://img.icons8.com/material-sharp/24/000000/undo.png" />
      </div>

      <div class="function-icon" style="margin-left: 0px">
        <img style="width:50px; height:50px;" src="https://img.icons8.com/material-sharp/24/000000/redo.png" />
      </div>

      <div class="function-icon" style="margin-left:0; margin-bottom:5em">
        <div class="dropdown">
          <button style="background:none; border:none; padding:2px" class="btn btn-secondary dropdown-toggle timer-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img style="width:50px; height:50px;" src="https://img.icons8.com/ios-glyphs/30/000000/share-rounded.png" />
          </button>
          <div class="dropdown-menu dropdown-style" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Photos</a>
            <a class="dropdown-item" href="#">Instagram</a>
            <a class="dropdown-item" href="#">Facebook</a>
            <a class="dropdown-item" href="#">Pinterest</a>
            <a class="dropdown-item" href="#">VSCO</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paint">
    <div id="myCanvas">
    </div>
  </div>


  <script type="text/javascript">
    function _(selector) {
      return document.querySelector(selector);
    }

    function setup() {
      let canvas = createCanvas(1000, 1070);
      canvas.parent("myCanvas");
      background("#fff");
    }

    function mouseDragged() {
      let type = _("#pen-pen").checked ? "pen" : "brush";

      let color = _("#pen-color").value;
      fill(color);
      stroke(color);

      let size = parseInt(_("#pen-thickness").value);
      strokeWeight(size);

      if (type == "pen") {
        line(pmouseX, pmouseY, mouseX, mouseY);
      } else {
        circle(mouseX, mouseY, size, size);
      }
    }
  </script>


  <div class="nav-bar">
    <div class="row">
      <div class="nav-bar-icon">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 172 172" style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
          style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#ffffff">
              <path d="M82.56,30.96v51.6h-51.6v6.88h51.6v51.6h6.88v-51.6h51.6v-6.88h-51.6v-51.6z"></path>
            </g>
          </g>
        </svg>
      </div>

      <a class="nav-bar-icon" href="f">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 172 172" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
            style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path d="M85.87235,3.62813c-0.72195,0.0249 -1.41775,0.27642 -1.98875,0.71891l-79.12,61.7386c-1.49911,1.16886 -1.76683,3.33167 -0.59797,4.83078c1.16886,1.49911 3.33167,1.76683 4.83078,0.59797l4.76359,-3.71547v90.4411c0.00019,1.89978 1.54022,3.43981 3.44,3.44h47.58219c0.37149,0.0614 0.75054,0.0614 1.12203,0h40.15797c0.37149,0.0614 0.75054,0.0614 1.12203,0h47.61578c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44v-90.4411l4.7636,3.71547c0.96974,0.75623 2.26928,0.93763 3.40904,0.47586c1.13976,-0.46177 1.94657,-1.49654 2.11649,-2.71449c0.16992,-1.21795 -0.32287,-2.43403 -1.29273,-3.19012l-26.1964,-20.43844v-25.00719h-20.64v8.89562l-32.2836,-25.18859c-0.64007,-0.49632 -1.43474,-0.7509 -2.24406,-0.71891zM86,11.42859l65.36,51.00203v92.36937h-41.28v-65.36h-48.16v65.36h-41.28v-92.36937zM127.28,27.52h6.88v12.7589l-6.88,-5.375zM68.8,96.32h34.4v58.48h-34.4z"></path>
              </g>
            </g>
          </svg>
        </div>
      </a>

      <a class="nav-bar-icon" href="g">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 172 172" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
            style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path d="M72.24,10.32c-32.26344,0 -58.48,26.21656 -58.48,58.48c0,32.26344 26.21656,58.48 58.48,58.48c12.76563,0 24.56375,-4.11187 34.185,-11.0725l45.2575,45.15l9.675,-9.675l-44.72,-44.8275c8.78813,-10.23937 14.0825,-23.52906 14.0825,-38.055c0,-32.26344 -26.21656,-58.48 -58.48,-58.48zM72.24,17.2c28.54125,0 51.6,23.05875 51.6,51.6c0,28.54125 -23.05875,51.6 -51.6,51.6c-28.54125,0 -51.6,-23.05875 -51.6,-51.6c0,-28.54125 23.05875,-51.6 51.6,-51.6z"></path>
              </g>
            </g>
          </svg>
        </div>
      </a>

    </div>
  </div>
</body>

</html>
